name: CI

on: [push]

jobs:
  ruby:
    name: ruby ${{ matrix.ruby }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ruby:
          - ruby-head
        include:
          - { os: ubuntu-22.04, ruby: 3.4 }
          - { os: ubuntu-22.04, ruby: ruby-head }
    steps:
      # - run: ssh -V
      # - run: |
      #     ssh-keygen -t ed25519 -f ~/.ssh/id_ed25519 -P ""
      # - run: |
      #     cat ~/.ssh/id_ed25519.pub >> ~/.ssh/authorized_keys
      # - run: |
      #     ssh-keyscan localhost >> ~/.ssh/known_hosts
      # - run: |
      #     ssh -v localhost w

      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - run: ruby --version
      - run: bundler --version
      - run: gem --version
      - run: ruby ci.rb
      - run: ruby -v -e 'p RUBY_VERSION'
      - run: |
          ruby -v -e 'value_method = RUBY_VERSION >= "3.5.0dev" ? :value : :take; p value_method'
