name: PR github context

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: cat $GITHUB_EVENT_PATH
        run: cat $GITHUB_EVENT_PATH

      - name: echo github.event.pull_request.head.repo.fork
        run: echo "${{ github.event.pull_request.head.repo.fork }}"

      - name: Dump github.event.pull_request.head.repo
        env:
          DEBUG_VAR: ${{ toJson(github.event.pull_request.head.repo) }}
        run: echo "$DEBUG_VAR"

      - name: Dump github.event.pull_request.head
        env:
          DEBUG_VAR: ${{ toJson(github.event.pull_request.head) }}
        run: echo "$DEBUG_VAR"

      - name: Dump github.event.pull_request
        env:
          DEBUG_VAR: ${{ toJson(github.event.pull_request) }}
        run: echo "$DEBUG_VAR"

      - name: Dump github.event
        env:
          DEBUG_VAR: ${{ toJson(github.event) }}
        run: echo "$DEBUG_VAR"

      - name: Dump the GitHub context
        env:
          THE_GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$THE_GITHUB_CONTEXT"

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"

      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"

      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"

      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"

      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
